<%- include('partials/header.ejs')  %>
<%- include('partials/navbar.ejs')  %>
<div class="container">
    <hr>
    <h1>Perguntas</h1>
    <hr>
    <a href="/perguntar" class="btn btn-primary">Perguntar</a>
    <br>
    <% perguntas.forEach(element => { %>
        <br>
        <div class="card">
            <div class="card-header">
                <h3><%= element.titulo %></h3>
            </div>
            <div class="card-footer">
                <a href="/pergunta/<%= element.id %>" class="btn btn-primary">Responder</a>
            </div>
        </div>

    <% }); %>
</div>
<%- include('partials/footer.ejs')  %>